<div style="text-align: center">
  <h1>{{ title }}</h1>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <app-navbar></app-navbar>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <app-product-add></app-product-add>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <app-product-list></app-product-list>
  </div>
</div>